<script type="text/javascript">
  $(document).ready(function() {
    $('#comment_message').keypress(function (e) {
      if (e.which == 13) {
        $('#new_comment').submit();
        return false;
      }
    })
  });
</script>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <% @grams.reverse.each do |gram| %>
    <div class="card">
      <div class="handle"><%= gram.user.email %></div>
      <%= image_tag gram.picture, class: 'img-responsive' %>

      <br class="clear-fix" />

      <div class="comments">
        <% if gram.message? %>
          <span class="comment_handle">
            <%= gram.user.email %>
          </span>
          <%= gram.message %>
        <% end %>
        <% gram.comments.each do |comment| %>
          <div class="comment">
            <span class="comment_handle">
              <%= comment.user.email %>
            </span>
            <%= comment.message %>
          </div>
        <% end %>
        <div class="comment-input">
          <%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
            <%= f.input :message, as: :string, placeholder: 'Add a comment...', label: false %>
            <%= f.submit 'Add', class: 'hidden' %>
          <% end %>
        </div>
      </div>

      <div class="gram-actions pull-right">
        <% if current_user && current_user == gram.user %>
          <%= link_to 'Edit', edit_gram_path(gram) %>
          <%= link_to 'Delete', gram_path(gram), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div>
      <br class="clear-fix" />
    </div>
  <% end %>
</div>