<!DOCTYPE html>
<html>
<head>
  <title>Grammable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-nav">
    <div class="col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="brand pull-left">
        <%= link_to 'Grammable', root_path %>
      </div>
      <div class="add pull-right">
        <% if current_user %>
          Welcome, <%= current_user.email %>.
          <%= link_to "New Post", new_gram_path %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <br class="clear-fix" />
  </div>

  <%= yield %>

</body>
</html>
